body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "gilroy-light";
  src: url("../assets/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "gilroy-medium";
  src: url("../assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "gilroy-extra-bold";
  src: url("../assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .wrapper {
    padding: 0 10px;
    width: 375px;
  }
}

.heading--orange {
  color: #f6ae00;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .header__navigation {
    height: auto;
    padding: 0 4px;
    padding-top: 21px;
  }
}

.header__company-link {
  width: 232px;
  height: 59.9px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .header__company-link {
    width: 171px;
    height: auto;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 181px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .active {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    padding: 33px 16px;
  }
}

.active .close {
  display: none;
}

.header__nav__item:not(:last-child) {
  margin-right: 45px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .header__nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 47px;
  }
}

.header__nav__link,
.header__nav__link:visited {
  padding-right: 41px;
  font-family: gilroy-medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .header__nav__link,
  .header__nav__link:visited {
    margin-right: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    display: block;
    text-align: right;
    padding-right: 0;
  }
}

.open,
.open__icon {
  display: none;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .open,
  .open__icon {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .close {
    margin-bottom: 47px;
  }
  .close__icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
  .open {
    width: 30px;
    height: 20px;
    margin-left: auto;
  }
  .open__icon {
    width: 30px;
    height: 20px;
  }
}

/* Footer */
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list-item:first-child {
  margin-right: 209px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .footer__list-item:first-child {
    margin-right: auto;
  }
}

.footer__list-item:nth-child(2) {
  width: 284px;
  margin-right: 125px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .footer__list-item:nth-child(2) {
    width: 100%;
    margin-right: auto;
  }
}

.footer__list-item:nth-child(3) {
  text-align: right;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .footer__list-item:nth-child(3) {
    margin-top: 40px;
    margin-right: auto;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__company-logo {
  width: 232px;
  height: auto;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .footer__company-logo {
    width: 170px;
    height: auto;
    margin-bottom: 34px;
  }
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .number {
    font-size: 14px;
  }
}

.contact:not(:last-child) {
  margin-bottom: 17px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .contact:not(:last-child) {
    margin-bottom: 20px;
  }
}

.viber-image {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .viber-image {
    width: 30px;
    height: 30px;
    margin-right: 28px;
  }
}

.soclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .soclinks {
    margin-top: 65px;
    margin-bottom: 0;
  }
}

.soclinks__item:not(:last-child) {
  margin-right: 23px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .soclinks__item:not(:last-child) {
    margin-right: 35px;
  }
}

.soclinks-image {
  width: 48px;
  height: 48px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .soclinks-image {
    width: 40px;
    height: 40px;
  }
}

.email {
  display: inline-block;
  margin-bottom: 21px;
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .email {
    font-size: 14px;
    margin-bottom: -5px;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.address {
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .address {
    font-size: 14px;
  }
}

/* Copyright */
.footer__copyright {
  font-family: gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  padding: 57px 0 14px 0;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .footer__copyright {
    font-size: 12px;
    padding: 20px 0 25px 0;
  }
}

.page {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background-image: url("../../assets/images/Desktop/Vector-left-thank-you.png"), url("../../assets/images/Desktop/Vector-top-thank-you.png"), url("../../assets/images/Desktop/Vector-bottom-thank-you.png"), url("../../assets/images/Desktop/Vector-1-thank-you.png");
  background-size: 581px, 367px, 333px, 1920px;
  background-position: left 0 bottom 13px, right 0 top 0, right 0 bottom 41px, right 0 top 0;
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .page {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../../assets/images/Mobile/Vector-mobile-right-thank-you.png"), url("../../assets/images/Mobile/Vector-mobile-top-thank-you.png"), url("../../assets/images/Mobile/Vector-mobile-bottom-thank-you.png");
    background-size: 198px, 375px, 375px;
    background-position: right 0 bottom 0, right 0 top 0, right 0 bottom 0;
    background-repeat: no-repeat;
  }
}

.feedback {
  padding-bottom: 182px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .feedback {
    padding-top: 27px;
    padding-bottom: 70px;
  }
}

.feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .feedback-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feedback__image {
  display: block;
  width: 941px;
  height: 677px;
  margin-left: -375px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .feedback__image {
    display: block;
    min-width: 428px;
    height: auto;
    margin-left: -64px;
  }
}

.text-container {
  margin-left: 55px;
  margin-top: 174px;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container {
    margin-left: 0;
    margin-top: 0;
    margin-top: 11px;
  }
}

.text-container__heading {
  font-family: gilroy-extra-bold;
  font-style: normal;
  font-weight: 800;
  font-size: 135px;
  line-height: 130%;
  letter-spacing: 0.2px;
  color: #f6ae00;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container__heading {
    font-size: 54px;
    margin-bottom: 12px;
  }
}

.text-container__descr {
  margin-bottom: 70px;
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 130%;
  /* or 65px */
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container__descr {
    font-size: 24px;
    margin-bottom: 48px;
  }
}

.text-container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: gilroy-light;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.2px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container__link {
    font-size: 24px;
  }
}

.text-container__link::after {
  content: "";
  display: block;
  width: 46px;
  height: 26px;
  margin-left: 20px;
  margin-top: 4px;
  background-image: url("../../assets/images/Desktop/Thank-you-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container__link::after {
    width: 26px;
    height: 15px;
  }
}
/*# sourceMappingURL=feedback.css.map */