.page {
  @include for-size(mobile) {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../../assets/images/Mobile/Vector-mobile-right-thank-you.png"),
      url("../../assets/images/Mobile/Vector-mobile-top-thank-you.png"),
      url("../../assets/images/Mobile/Vector-mobile-bottom-thank-you.png");

    background-size: 198px, 375px, 375px;
    background-position: right 0 bottom 0, right 0 top 0, right 0 bottom 0;
    background-repeat: no-repeat;
  }
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background-image: url("../../assets/images/Desktop/Vector-left-thank-you.png"),
    url("../../assets/images/Desktop/Vector-top-thank-you.png"),
    url("../../assets/images/Desktop/Vector-bottom-thank-you.png"),
    url("../../assets/images/Desktop/Vector-1-thank-you.png");

  background-size: 581px, 367px, 333px, 1920px;
  background-position: left 0 bottom 13px, right 0 top 0, right 0 bottom 41px,
    right 0 top 0;
  background-repeat: no-repeat;
}
