.header__navigation {
  @include for-size(mobile) {
    height: auto;
    padding-top: 21px;
  }
  display: flex;
  align-items: center;
  height: 100px;
}

.header__company-link {
  @include for-size(mobile) {
    width: 171px;
    height: auto;
  }
  width: 232px;
  height: 59.9px;
}

.header__nav {
  @include for-size(mobile) {
    display: none;
  }
  display: flex;
  margin-left: 181px;
}

.header__nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__nav__link,
.header__nav__link:visited {
  padding-right: 41px;
  font-family: gilroy-medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  color: #ffffff;
}
