.page {
  @include for-size(mobile) {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../../assets/images/Mobile/Vector-smm-mobile.png"),
      url("../../assets/images/Mobile/Vector-header-mobile.png"),
      url("../../assets/images/Mobile/Vector-2-mobile.png"),
      url("../../assets/images/Mobile/Vector-main-mobile.png"),
      url("../../assets/images/Mobile/Vector-main-mobile-bg.png"),
      url("../../assets/images/Mobile/Group.png"),
      url("../../assets/images/Mobile/Vector-footer-mobile.png");

    background-size: 375px, 375px, 375px, 375px, 375px, 198px, 375px;
    background-position: left 0 top 180px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, left 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
    background-repeat: no-repeat;
  }
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background-image: url("../../assets/images/Desktop/Hero-smm.png"),
    url("../../assets/images/Desktop/Vector-3.png"),
    url("../../assets/images/Desktop/Vector-4.png"),
    url("../../assets/images/Desktop/Vector-1.png"),
    url("../../assets/images/Desktop/Vector-2.png");
  background-size: 1920px, 213px, 317px, 1920px, 1920px;
  background-position: right 0 top 0, left 0 top 847px, right 0 bottom 0,
    right 0 top 0, right 0 top 1500px;
  background-repeat: no-repeat;
}
