.page {
  @include for-size(mobile) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../../assets/images/Mobile/Vector-smm-mobile.png"),
      url("../../assets/images/Mobile/Vector-header-mobile.png"),
      url("../../assets/images/Mobile/Vector-2-mobile.png"),
      url("../../assets/images/Mobile/Vector-main-mobile.png"),
      url("../../assets/images/Mobile/Vector-main-mobile-bg.png"),
      url("../../assets/images/Mobile/Group.png"),
      url("../../assets/images/Mobile/Vector-footer-mobile.png");

    background-size: 100%, 100%, 100%, 100%, 100%, 100%, 100%;
    background-position: left 0 top 180px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, left 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
    background-repeat: no-repeat;
  }

  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background-image: url("../../assets/images/Desktop/Hero-smm.png"),
    url("../../assets/images/Desktop/Vector-3.png"),
    url("../../assets/images/Desktop/Vector-4.png"),
    url("../../assets/images/Desktop/Vector-1.png"),
    url("../../assets/images/Desktop/Vector-2.png");
  background-size: 1920px, 213px, 317px, 1920px, 1920px;
  background-position: right 0 top 0, left 0 top 847px, right 0 bottom 0,
    right 0 top 0, right 0 top 1500px;
  background-repeat: no-repeat;
}

// Mobile BG

@media (min-width: 280px) and (max-width: 380px) {
  .page {
    background-size: 100%, 100% 800px, 100%, 80%, 100% 1500px, 60%, 100% 550px;
    background-position: left 0 top 140px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, right 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
  }
}
@media (min-width: 380px) and (max-width: 479px) {
  .page {
    background-size: 100%, 100% 800px, 100%, 80%, 100% 1500px, 50%, 100% 550px;
    background-position: left 0 top 140px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, right 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
  }
}
@media (min-width: 480px) and (max-width: 549px) {
  .page {
    background-size: 90%, 100% 800px, 100%, 70%, 100% 1500px, 40%, 100% 550px;
    background-position: right 0 top 100px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, left 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
  }
}
@media (min-width: 550px) and (max-width: 619px) {
  .page {
    background-size: 80%, 100% 800px, 100%, 60%, 100% 1500px, 30%, 100% 550px;
    background-position: right 0 top 100px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, left 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
  }
}
@media (min-width: 620px) and (max-width: 767px) {
  .page {
    background-size: 70%, 100% 800px, 100%, 60%, 100% 1500px, 30%, 100% 550px;
    background-position: right 0 top 0px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, left 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
  }
}
@media (min-width: 680px) and (max-width: 767px) {
  .page {
    background-size: 70%, 100% 800px, 100%, 60%, 100% 1500px, 30%, 100% 550px;
    background-position: right 0 top 0px, left 0 top 0, right 0 top 1873px,
      right 0 top 2535px, left 0 top 1909px, right 0 bottom 0, left 0 bottom 0;
  }
}

// Tablet BG
