@font-face {
  font-family: "gilroy-light";
  src: url("../assets/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "gilroy-medium";
  src: url("../assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "gilroy-extra-bold";
  src: url("../assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}

.wrapper {
  @include for-size(mobile) {
    padding: 0 10px;
    max-width: 100%;
  }
  @include for-size(tablet) {
    padding: 0 10px;
    max-width: 767px;
  }
  @include for-size(mobile) {
    padding: 0 10px;
    max-width: 100%;
  }
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.bg-wrapper {
  @include for-size(mobile) {
    max-width: 100%;
  }
  @include for-size(tablet) {
    max-width: 100%;
  }
  @include for-size(desktop) {
    max-width: 1920px;
  }
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.heading--orange {
  color: #f6ae00;
}
