/* Footer */

.footer__list {
  @include for-size(mobile) {
    flex-direction: column;
  }
  @include for-size(tablet) {
    flex-direction: column;
  }
  display: flex;
}

.footer__list-item:first-child {
  @include for-size(mobile) {
    margin-right: auto;
  }
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  margin-right: 209px;
}

.footer__list-item:nth-child(2) {
  @include for-size(mobile) {
    margin-right: auto;
  }
  @include for-size(tablet) {
    margin: 30px auto;
    margin-top: 60px;
  }
  width: 284px;
  margin-right: 125px;
}

.footer__list-item:nth-child(3) {
  @include for-size(mobile) {
    margin-top: 40px;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    margin-right: auto;
  }
  @include for-size(tablet) {
    margin-right: 0;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  text-align: right;
}

.footer__company-logo {
  @include for-size(mobile) {
    width: 170px;
    height: auto;
    margin-bottom: 34px;
  }
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  width: 232px;
  height: auto;
}

.contact-container .contacts {
  @include for-size(mobile) {
    max-width: 300px;
  }
  @include for-size(tablet) {
    margin-right: auto;
  }
}

.number {
  @include for-size(mobile) {
    font-size: 14px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  display: flex;
  align-items: center;
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: 300ms ease;
}

.number:hover {
  color: #f6ae00;
  transition: 300ms ease;
}

.contact:not(:last-child) {
  @include for-size(mobile) {
    margin-bottom: 20px;
  }
  margin-bottom: 17px;
}

.viber-image {
  @include for-size(mobile) {
    width: 30px;
    height: 30px;
    margin-right: 28px;
  }
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.soclinks {
  @include for-size(mobile) {
    margin-top: 65px;
    margin-bottom: 0;
  }
  @include for-size(tablet) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  display: flex;
  margin-bottom: 35px;
}
.soclinks__item {
  border-radius: 50%;
  transition: 300ms ease;
}

.soclinks__item:not(:last-child) {
  @include for-size(mobile) {
    margin-right: 35px;
  }
  margin-right: 23px;
}

.soclinks__item:hover {
  background-color: #f6ae00;
  border-radius: 50%;
  transition: 300ms ease;
}

.soclinks-image {
  @include for-size(mobile) {
    width: 40px;
    height: 40px;
  }
  width: 48px;
  height: 48px;
}

.address {
  margin-right: auto;
}

.email {
  @include for-size(mobile) {
    font-size: 14px;
    margin-bottom: -5px;
    margin-right: auto;
  }
  display: inline-block;
  margin-bottom: 21px;
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  transition: 300ms ease;
  color: #ffffff;
}

.email:hover {
  color: #f6ae00;
  transition: 300ms ease;
}

.contact-container {
  @include for-size(mobile) {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: auto;
  }
  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.address {
  @include for-size(mobile) {
    font-size: 14px;
  }
  @include for-size(tablet) {
    text-align: center;
  }
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

/* Copyright */

.footer__copyright {
  @include for-size(mobile) {
    font-size: 12px;
    padding: 20px 0 25px 0;
  }
  font-family: gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  padding: 57px 0 14px 0;
}
