/* Footer */

.footer__list {
  display: flex;
}

.footer__list-item:first-child {
  margin-right: 209px;
}

.footer__list-item:nth-child(2) {
  width: 284px;
  margin-right: 125px;
}

.footer__list-item:nth-child(3) {
  text-align: right;
}

.footer__company-logo {
  width: 232px;
  height: 60px;
}

.number {
  display: flex;
  align-items: center;

  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.2px;

  color: #ffffff;
}

.contact:not(:last-child) {
  margin-bottom: 17px;
}

.viber-image {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.soclinks {
  display: flex;
  margin-bottom: 35px;
}

.soclinks__item:not(:last-child) {
  margin-right: 23px;
}

.soclinks-image {
  width: 48px;
  height: 48px;
}

.email {
  display: inline-block;
  margin-bottom: 21px;

  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.2px;

  color: #ffffff;
}

.address {
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.2px;

  color: #ffffff;
}

/* Copyright */

.footer__copyright {
  font-family: gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.2px;
  text-align: center;

  color: #ffffff;

  padding: 57px 0 30px 0;
}
